#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig LIBTINYCBOR
	bool "Semtech TINYCBOR Library"
	default n
	---help---
		Enable build for Semtech TINYCBOR functions

if LIBTINYCBOR

config LIBTINYCBOR_DEBUG
	bool "Libtinycbor debugging"
	default n
	---help---
		Enable debugging for libtinycbor

config LIBTINYCBOR_PRECISION
	int "Libtinycbor precision [0/1/2]"
	default 0

config LIBTINYCBOR_FOC_VABC
	bool "Libtinycbor FOC includes voltage abc frame"

endif # LIBTINYCBOR
